Checks: |

  modernize-*,
  performance-*,
  bugprone-*,
  portability-*,
  cppcoreguidelines-*,
  concurrency-*,
  clang-analyzer-*,
  misc-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-c-arrays,
  -misc-include-cleaner,
  -modernize-use-trailing-return-type,
  -misc-const-correctness,
  -modernize-redundant-void-arg,
  -cppcoreguidelines-special-member-functions,
  -modernize-deprecated-headers,
  -cppcoreguidelines-pro-type-vararg,
  -modernize-use-nodiscard,
  -readability-redundant-string-init,
  -cppcoreguidelines-explicit-virtual-functions,
  -modernize-use-override,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -performance-avoid-endl,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-const-cast,
  -portability-avoid-pragma-once,
  -bugprone-easily-swappable-parameters,
  -performance-enum-size,
  -cppcoreguidelines-pro-type-member-init,
  -modernize-use-designated-initializers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -portability-template-virtual-member-function,
  -modernize-avoid-c-arrays


WarningsAsErrors: false

HeaderFilterRegex: 'src/.*(hpp|tpp)$'

FormatStyle: none

CheckOptions:
# Read/write more consistent with modern C++
- key: modernize-use-nullptr.NullMacros
  value: 'NULL,nullptr_t'
- key: modernize-use-auto.MinTypeNameLength
  value: '5'

# performance
- key: performance-for-range-copy.WarnOnAllAutoCopies
  value: true

# cppcoreguidelines
- key: cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllPrivateMembers
  value: true

# Network / concurrency: avoid dangerous locks
- key: concurrency-mt-unsafe.StrictMode
  value: true

# Clang analyzer (pointers, memory leaks, etc.)
- key: clang-analyzer-optin.performance.Padding
  value: true

# Limit noise on ECS structures
- key: readability-identifier-naming.IgnoreMainLikeFunctions
  value: true
